
.hero {
  /* Sizing */
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white; 
  background-image: url('photos/Enzo.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero h1 {
  /* Text styles */
  font-size: 5em;
  background-color:#DC143C;
  /* Margins */
  font-family: 'Sonsie One', cursive;

  margin:0 auto 0.5em auto;
}
.hero h2 {
  /* Text styles */
  font-size: 2em;
  background-color:#880808;
  /* Margins */
  font-family: 'Carter One', cursive;
  margin:0 auto 0.5em auto;
}
body{
  margin:0;
  padding:0;
  height:1000px;
}


p {
  color:whitesmoke;
  font-family: 'Carter One', cursive;
}

